h3 {
  color:#900C3F;
  font-family:Comic Sans MS;
}

#id1 {
  color:#6699FF;
  font-family:Comic Sans MS;
}

.comicsansroolz {
  color:#00FF33;
  font-family:Comic Sans MS;
}

.comicsansroolz p {
  color:#CCFF00;
  font-family:Times New Roman;
}
